In [2]:
import pandas as pd
import folium
from folium.plugins import HeatMap

In [3]:
pfas_in_texas = pd.read_csv('data/texas/tx_water_sites.csv')
pfas_in_texas.head()

,ZIP,city,county,STATE_ME,REGION,sample_year,PFAS water sites,Total households,Median household income,Income_DESC,Total population,Nonwhite,Percent Nonwhite,Nonwhite_DESC,Housing units,latitude,longitude
0,79604,Abilene,Taylor,Texas,South Region,2013,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.451981,-99.732788
1,75001,Addison,Dallas,Texas,South Region,2015,1,8404.0,72050.0,"$55,001 - $75,000",15418.0,8808.0,57.1,50.1% - 75%,9457.0,32.964127,-96.829819
2,78101,Adkins,Bexar,Texas,South Region,2015,1,2356.0,93125.0,"More than $75,000",7434.0,3398.0,45.7,25.1% - 50%,2629.0,29.367859,-98.248207
3,78516,Alamo,Hidalgo,Texas,South Region,2015,1,10443.0,36747.0,"$35,000 - $55,000",36248.0,33064.0,91.2,More than 75%,12562.0,26.185738,-98.109985
4,78333,Alice,Jim Wells,Texas,South Region,2013,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.752096,-98.073196

In [4]:
pfas_sites_desc =  pd.DataFrame(pfas_in_texas.groupby('ZIP')['PFAS water sites'].count().sort_values(ascending=False))
pfas_sites_desc.head()

       PFAS water sites
ZIP
78227                 4
77019                 4
77027                 3
76065                 3
78660                 3

In [5]:
# map object
mapObj = folium.Map([30.2855, -97.6654], zoom_start=10)

# heatmap data
df = pd.read_csv('data/texas/tx_heatmap_water_sites.csv')
data = df.values.tolist()

# rescale each value between 0 and 1 using (val-minColorVal)/(maxColorVal-minColorVal)
# minColorVal = 1, maxColorVal = 4
mapData = [[x[0], x[1], (x[2]-1)/(4-1)] for x in data]

# custom color gradient
colrGradient = {0.0: 'blue',
                0.6: 'cyan',
                0.7: 'lime',
                0.8: 'yellow',
                1.0: 'red'}

# use data to create heatmap and add it to map object
HeatMap(mapData, gradient=colrGradient).add_to(mapObj)

# save map object as html
mapObj.save("texas_heatmap.html")

In [21]:
# counts number of zip codes in each city affected by pfas contamination
pfas_city_num =  pd.DataFrame(pfas_in_texas.groupby('city')['ZIP'].count().sort_values(ascending=False))
pfas_city_num.head(10)

              ZIP
city
Houston        25
San Antonio    11
Austin          8
Fort Worth      8
Dallas          6
Cypress         4
El Paso         4
Pflugerville    4
Midlothian      3
Mission         3

In [22]:
# counts number of zip codes in each county affected by pfas contamination
pfas_county_num =  pd.DataFrame(pfas_in_texas.groupby('county')['ZIP'].count().sort_values(ascending=False))
pfas_county_num.head(10)

            ZIP
county
Harris       39
Dallas       22
Tarrant      21
Bexar        15
Hidalgo      14
Travis       12
Galveston     9
Denton        9
Williamson    9
Collin        8