In [2]:
import pandas as pd
import folium
from folium.plugins import HeatMap

In [ ]:
# df
pfas_in_texas = pd.read_csv('data/texas/tx_water_sites.csv')
pfas_in_texas.head()

In [4]:
# top 5 zips
pfas_sites_desc =  pd.DataFrame(pfas_in_texas.groupby('ZIP')['PFAS water sites'].count().sort_values(ascending=False))
pfas_sites_desc.head()

       PFAS water sites
ZIP
78227                 4
77019                 4
77027                 3
76065                 3
78660                 3

In [11]:
# texas heatmap

# map object
mapObj = folium.Map([31.000000, -100.000000], zoom_start=6)

# heatmap data
df = pd.read_csv('data/texas/tx_heatmap_data.csv')
data = df.values.tolist()

# rescale each value between 0 and 1 using (val-minColorVal)/(maxColorVal-minColorVal)
# minColorVal = 1, maxColorVal = 4
mapData = [[x[0], x[1], (x[2]-1)/(4-1)] for x in data]

# custom color gradient
colrGradient = {0.0: 'blue',
                0.6: 'cyan',
                0.7: 'lime',
                0.8: 'yellow',
                1.0: 'red'}

# use data to create heatmap and add it to map object
HeatMap(mapData, gradient=colrGradient).add_to(mapObj)

# save map object as html
mapObj.save("tx_heatmap.html")

In [21]:
# counts number of zip codes in each city affected by pfas contamination
pfas_city_num = pd.DataFrame(pfas_in_texas.groupby('city')['ZIP'].count().sort_values(ascending=False))
pfas_city_num.head(10)

              ZIP
city
Houston        25
San Antonio    11
Austin          8
Fort Worth      8
Dallas          6
Cypress         4
El Paso         4
Pflugerville    4
Midlothian      3
Mission         3

In [22]:
# counts number of zip codes in each county affected by pfas contamination
pfas_county_num = pd.DataFrame(pfas_in_texas.groupby('county')['ZIP'].count().sort_values(ascending=False))
pfas_county_num.head(10)

            ZIP
county
Harris       39
Dallas       22
Tarrant      21
Bexar        15
Hidalgo      14
Travis       12
Galveston     9
Denton        9
Williamson    9
Collin        8

In [4]:
# income counts (all of tx)
print(pfas_in_texas.Income_DESC.value_counts())

More than $75,000    103
$35,000 - $55,000     99
$55,001 - $75,000     86
Less than $35,000     12
Name: Income_DESC, dtype: int64

In [5]:
# non-white pop counts (all of tx)
print(pfas_in_texas.Nonwhite_DESC.value_counts())

25.1% - 50%      138
50.1% - 75%       72
More than 75%     53
10% - 25%         34
Less than 10%      4
Name: Nonwhite_DESC, dtype: int64

In [12]:
# houston metro subset, save as csv
houston_metro = pfas_in_texas.loc[pfas_in_texas['county'].isin(['Brazoria','Chambers','Fort Bend','Galveston','Harris','Liberty','Montgomery','Waller'])]
houston_metro.to_csv('houston_metro_sites.csv')

In [10]:
pfas_houston_metro_num = pd.DataFrame(houston_metro.groupby('county')['ZIP'].count().sort_values(ascending=False))
pfas_houston_metro_num.head(8)

            ZIP
county
Harris       39
Galveston     9
Brazoria      7
Montgomery    6
Fort Bend     5
Liberty       2

In [7]:
# houston metro income counts
print(houston_metro.Income_DESC.value_counts())

More than $75,000    40
$55,001 - $75,000    12
$35,000 - $55,000     7
Less than $35,000     1
Name: Income_DESC, dtype: int64

In [8]:
# houston metro non-white pop counts
print(houston_metro.Nonwhite_DESC.value_counts())

25.1% - 50%      39
50.1% - 75%       9
More than 75%     7
10% - 25%         5
Name: Nonwhite_DESC, dtype: int64